<!DOCTYPE html>
<html>

{% include head.html %}

<body class="ajax-loading" data-site-url="{{ page.url }}/{{ page.baseurl }}" data-page-url="{{ page.url | relative_url }}">

    {% include header.html %}

	{% include loader.html %}

	<div class="page">

		<div class="page__content" data-page-title="{{ page.title }}" data-image="{{ site.baseurl }}/{{ page.image | relative}}">
			<section class="blog single">

				<div class="wrap">
					{% assign projects = site.projects | reverse %}
					{% for project in projects %}
						<article class="blog-post">

							<div class="blog-post__header">
								<h2 class="blog-post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
								<p class="blog-post__subtitle">{{ project.date | date_to_string: "ordinal" }}</p>
							</div>

							<a href="{{ project.url | relative_url }}" class="blog-post__image" style="background-image: url({{ site.baseurl }}/{{ project.image }})"></a>

							<div class="blog-post__content">
								<p>{{ project.description }}</p>
								<p><a href="{{ project.url | relative_url }}" class="button">Read More</a>
								</p>
							</div>

						</article>
					{% endfor %}

				</div>

			</section>

		</div>

	</div>

</body>

</html>